<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <!-- PHP Configuration -->
        <fastCgi>
            <application fullPath="C:\Program Files\PHP\php-cgi.exe">
                <environmentVariables>
                    <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
                    <environmentVariable name="PHPRC" value="C:\Program Files\PHP\" />
                </environmentVariables>
            </application>
        </fastCgi>

        <!-- PHP Handler -->
        <handlers>
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST,PUT,DELETE,OPTIONS"
                 modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\php-cgi.exe"
                 resourceType="Either" requireAccess="Script" />
        </handlers>

        <!-- Default Document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>

        <!-- Directory Browsing -->
        <directoryBrowse enabled="false" />

        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Force HTTPS (optional - uncomment if needed) -->
                <!--
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                -->

                <!-- Remove trailing slash (optional) -->
                <rule name="Remove Trailing Slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>

        <!-- HTTP Response Headers -->
        <httpProtocol>
            <customHeaders>
                <!-- Security Headers -->
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />

                <!-- Cache Control -->
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
                <add name="Pragma" value="no-cache" />
                <add name="Expires" value="0" />
            </customHeaders>
        </httpProtocol>

        <!-- Static Content -->
        <staticContent>
            <!-- MIME Types -->
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
            <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
            <mimeMap fileExtension=".wav" mimeType="audio/wav" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>

        <!-- Error Pages -->
        <httpErrors errorMode="Detailed" existingResponse="PassThrough">
            <!-- Custom Error Pages (optional) -->
            <!--
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/error/404.php" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" path="/error/500.php" responseMode="ExecuteURL" />
            -->
        </httpErrors>

        <!-- Security -->
        <security>
            <!-- Request Filtering -->
            <requestFiltering>
                <!-- Maximum allowed content length (30MB = 31457280 bytes) -->
                <requestLimits maxAllowedContentLength="31457280" maxUrl="4096" maxQueryString="2048" />

                <!-- File Extensions -->
                <fileExtensions>
                    <add fileExtension=".exe" allowed="false" />
                    <add fileExtension=".bat" allowed="false" />
                    <add fileExtension=".cmd" allowed="false" />
                    <add fileExtension=".com" allowed="false" />
                </fileExtensions>

                <!-- Hidden Segments -->
                <hiddenSegments>
                    <add segment="bin" />
                    <add segment=".git" />
                    <add segment=".svn" />
                    <add segment=".env" />
                    <add segment="web.config" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/atom+xml" enabled="true" />
                <add mimeType="application/xaml+xml" enabled="true" />
                <add mimeType="image/svg+xml" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>

    </system.webServer>

    <!-- PHP INI Settings -->
    <system.web>
        <httpRuntime maxRequestLength="30720" executionTimeout="300" />
    </system.web>

    <!-- Application Settings -->
    <appSettings>
        <add key="PHP_UPLOAD_MAX_FILESIZE" value="25M" />
        <add key="PHP_POST_MAX_SIZE" value="30M" />
        <add key="PHP_MAX_EXECUTION_TIME" value="300" />
        <add key="PHP_MEMORY_LIMIT" value="256M" />
    </appSettings>

</configuration>
